<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oblivion.redchildpuls">
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HotProductActivity" />
        <activity android:name=".activity.AboutActivity"/>
        <activity android:name=".activity.HelpCenterActivity"/>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.OrderActivity" />
        <activity android:name=".activity.OrderDetailActivity" />
        <activity android:name=".activity.NewProductActivity" />
        <activity android:name=".activity.LoginActivity" />
        <!--<activity android:name=".activity.RegisterActivity$RegisterActivity"/>-->
        <activity android:name=".activity.CollectActivity"></activity>
        <activity android:name=".activity.BrandActivity" />
        <activity android:name=".activity.LimitbuyActivity" />
        <activity android:name=".activity.FeedbackActivity"/>
        <activity android:name=".activity.DetailActivity_" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.ToPayActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".activity.PayScccessActivity"></activity>
        <activity android:name=".activity.SelectLocalActivity_"></activity>
        <activity android:name=".zxq.view.SearchResultActivity"></activity>
        <activity android:name=".activity.ChangeLocalActivity"></activity>

        <provider
            android:name=".db.ProviderSearchHistory"
            android:authorities="com.oblivion.redchildpuls" />

        <activity android:name=".activity.FilterActivity" />
        <activity android:name=".activity.Filter2Activity"></activity>


    </application>

</manifest>